<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoCon Europe 2022 - Notes</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/schedule.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
</head>
<body>
    <div class="p-4 mx-auto prose max-w-none">
        <h1>DjangoCon Europe 2022</h1>

        <div id="app" class="flex items-start">
            <ul class="flex-1">
                <template v-for="talk in talks">
                    <li v-if="talk.persons.length">
                        <h2>{{ talk.title }}</h2>
                        <p>{{ talk.abstract }}</p>
                        <button @click="showDetails(talk)" class="px-2 py-1 rounded border">Show Details</button>
                    </li>
                </template>
            </ul>
            <div class="flex-1 sticky top-0 px-4">
                <template v-if="selectedTalk">
                    <h2>{{ selectedTalk.title }}</h2>
                    <p>{{ selectedTalk.description }}</p>
                </template>
            </div>
        </div>
    </div>

    <script>
        const { createApp } = Vue
        const { Auditorium: auditorium_talks } = schedule.schedule.conference.days[0].rooms
          createApp({
            data() {
              return {
                talks: auditorium_talks,
                selectedTalk: null
              }
            },
            methods: {
                showDetails(talk) {
                    this.selectedTalk = talk;
                }
            },
          }).mount('#app')
    </script>
</body>
</html>
