<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DjangoCon Europe 2022 - Notes</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="/schedule.js"></script>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography"></script>
</head>
<body>
    <div class="p-4 mx-auto prose max-w-none">
        <h1>DjangoCon Europe 2022</h1>

        <div id="app" class="flex items-start">
            <ul class="flex-1 h-full overflow-y-scroll">
                <template v-for="talk in talks">
                    <li v-if="talk.persons.length">
                        <h2>{{ talk.title }}</h2>
                        <h4>{{ talk.speakers }}</h4>
                        <p>{{ talk.abstract }}</p>
                        <button @click="showDetails(talk)" class="px-2 py-1 rounded border">Show Details</button>
                        <a :href="talk.url" class="text-blue-400 hover:text-blue-500 mx-4">See talk on pretalx</a>
                    </li>
                </template>
            </ul>
            <div class="flex-1 h-full overflow-y-scroll px-4">
                <template v-if="selectedTalk">
                    <h2>{{ selectedTalk.title }}</h2>
                    <h4>{{ selectedTalk.speakers }}</h4>
                    <p>{{ selectedTalk.description }}</p>
                    <textarea
                        :name="`notes-{selectedTalk.id}`"
                        :id="`notes-{selectedTalk.id}`"
                        rows="10"
                        class="w-full"
                        :value="notes[selectedTalk.id]"
                        @change="ev => notes[selectedTalk.id] = ev.target.value"
                    ></textarea>
                </template>
            </div>
        </div>
    </div>

    <script>
        const { createApp } = Vue
          createApp({
            data() {
              return {
                selectedTalk: null,
                notes: {}
              }
            },
            methods: {
                showDetails(talk) {
                    this.selectedTalk = talk;
                }
            },
            computed: {
                talks() {
                    const talks = this.auditorium_talks.map(t => {
                        t.speakers = t.persons.map(p => p.public_name).join(', ');
                        return t;
                    });
                    return talks;
                },
                auditorium_talks() {
                    const { Auditorium: auditorium_talks } = schedule.schedule.conference.days[0].rooms
                    return auditorium_talks
                }
            }
          }).mount('#app')
    </script>
</body>
</html>
